<h1> Enter user information </h1>

  <%= form_for @user do |f| %>
      <%= f.label :username, "Enter your username" %>
      <%= f.text_field :username %> <br>
      
      <%= f.label :email, "Enter your email" %>
      <%= f.text_field :email, value: "test@test.com" %> <br>
      
      <%= f.label :password %>
      <%= f.password_field :password %> <br>
      
      <%= f.submit %>
  <%end %>





    <!--<form accept-charset="UTF-8" action="/users" method="post">
      username: <input type="text" name="user[username]"> <br>
      email:   <input type="text" name="user[email]"> <br>
      password: <input type="text" name="user[password]"> <br>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Submit">
      
      
    </form>
    <h1>
      This is the new page
    </h1>
    
    
    -->
    
 <!-- <%= form_tag("/users", method: "post") do %>
      <%= label_tag(:username, "Username:") %>
      <%= text_field_tag(:username) %><br>
      <%= label_tag(:email, "email:") %>
      <%= text_field_tag(:email) %><br>
      <%= label_tag(:password, "password:") %>
      <%= password_field_tag(:password) %><br>
      <%= submit_tag("Submit") %>
    <%end%>
      -->
      
    
